<h1>๋ด๊ฐ ์ํํ ๋ฏธ์</h1>

<h2>๐ ์ผ๊ฐ ๋ฏธ์</h2>
<ul>
  <% daily.forEach(mission => { %>
    <li>
      <% if (mission.daily_image) { %>
        <img src="<%= mission.daily_image %>" alt="์ผ๊ฐ ๋ฏธ์ ์ด๋ฏธ์ง" width="100" />
      <% } %>
      <strong><%= mission.daily_title %></strong> - <%= mission.reward %>P
    </li>
  <% }) %>
</ul>

<h2>๐ ์ฃผ๊ฐ ๋ฏธ์</h2>
<ul>
  <% weekly.forEach(mission => { %>
    <li>
      <% if (mission.weekly_image) { %>
        <img src="<%= mission.weekly_image %>" alt="์ฃผ๊ฐ ๋ฏธ์ ์ด๋ฏธ์ง" width="100" />
      <% } %>
      <strong><%= mission.weekly_title %></strong> - <%= mission.reward %>P
    </li>
  <% }) %>
</ul>
  